{% load static %}
<div class="accordion-body">
    <!-- Carousel for Iteration Results (First Plot Carousel) -->
    <h4>Iteration: <span id="carousel1Index">1</span></h4>
    <div id="carouselCaption1" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <!-- Indicators will be generated dynamically -->
        </div>
        <div class="carousel-inner">
            <!-- Carousel items (plots) will be generated dynamically -->
        </div>
        <!-- Carousel buttons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaption1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCaption1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<script src="{% static 'simapp/plotting.js' %}"></script>

